.dashboard {
    /* border: 2px solid rgb(220, 220, 3); */
}

/* overview cards */
.dashboard>div:nth-child(1) {
    /* border: 2px solid blue; */
    width: 100%;
    justify-content: space-around;
}


/* single overview card */
.overviewCard {
    padding: 10px 20px;
    width: 28%;
    border-radius: 8px;
    background: linear-gradient(to bottom, #a32424, #ee3e38);
    display: flex;
    justify-content: space-between;
}


/* information */
.overviewCard>div:nth-child(1)>h2:nth-child(1) {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ececec;
}

.overviewCard>div:nth-child(1)>p:nth-child(2) {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fcfcfc;
}

.overviewCard>div:nth-child(1)>p:nth-child(3) {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #cececeee;
}

.overviewCard:nth-child(2)>div:nth-child(2)>svg {
    rotate: 180deg;
}




/* logo */
.overviewCard>div:nth-child(2) {
    margin: auto 0px;
    padding: 10px;
    border-radius: 50%;
    background-color: #f3f3f3;
    color: #ee3e38;
    font-size: 35px;
}



/* chart section */
.dashboard>div:nth-child(2) {
    /* height: 500px; */
    margin-top: 15px;
    /* border: 2px solid red; */
    justify-content: space-between;
}

.dashboard>div:nth-child(2)>div>h2 {
    text-align: center;
}


/* line chart */
.dashboard>div:nth-child(2)>div:nth-child(1) {
    flex-direction: column;
    width: 65%;
    height: 100%;
    /* border: 1px solid red; */
}

/* heading */
.dashboard>div:nth-child(2)>div>h2{
    font-size: 22px;
    font-weight: bold;
}

.dashboard>div:nth-child(2)>div:nth-child(1)>div {
    height: 100%;
    width: 100%;
}

/* pie chart */
.dashboard>div:nth-child(2)>div:nth-child(2) {
    flex-direction: column;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.dashboard>div:nth-child(2)>div:nth-child(2)>div {
    height: 100%;
    width: 100%;
}
.flex{
    display: flex;
}
.graph{
    display: flex;
}

@media only screen and (max-width: 1706px) {
    .graph{
        flex-direction:column-reverse;
        align-items: center;
    }
}
@media only screen and (max-width: 1103px) {
    .overviewCard{
        white-space: nowrap;
        width: 40%;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
    .flex{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 1047px) {
    .overviewCard{
        white-space: nowrap;
        width: 80%;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}
@media only screen and (max-width: 415px) {
    .overviewCard{
        white-space: nowrap;
        width: 95%;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}
@media only screen and (max-width: 356px) {
    .cardLogo{
        display: none;
    }
}