.mainSkeleton{
    margin: 2rem;
    height: fit-content;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.headCart{
    display:flex;
    justify-content: space-around;
    font-family: Titillium, sans-serif;
    font-weight: 500;
    padding: 1rem 0rem;
    margin: auto;
    background-color: #eae8e8;
}
.bottomCart{
    display:flex;
    justify-content:space-around;
    margin: 2rem 0;
}
.box{
    padding:1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 20%;
    text-align: center;
    color: #EE3E38;
}
.headCart1{
    width: 10%;
    text-align: center;
    margin: auto;
}
.headCart2{
    width: 30%;
    text-align: center;
    margin: auto;
}
.headCart3{
    width: 20%;
    text-align: center;
    margin: auto;
}
.headCart4{
    width: 10%;
    text-align: center;
    margin: auto;
}
.headCart5{
    width: 10%;
    text-align: center;
    margin: auto;
}
.input{
    padding: 1rem;
    width: 40vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.buttonpromo{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #EE3E38;
    color: aliceblue;
    padding: 1rem;
    white-space: nowrap;
}
.bottomDiscount{
    display: flex;
    justify-content:space-between;
    gap: 2rem;
    margin: 0 2rem;
}
.checkout{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #EE3E38;
    color: aliceblue;
    padding: 1rem;
}
.continue{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    color: #EE3E38;
    padding: 1rem;
    white-space: nowrap;
}
.Applydiscount{
    display: flex;
    width: 40%;
}
/* .right{
    width: 25%;
    margin: 0 1rem;
} */
@media only screen and (max-width: 1318px) {
    .mainSkeleton{
        width: 70%;
    }
    .bottomDiscount{
        justify-content:space-between;
    }
    .Applydiscount{
        width: 10%;
    }
}
@media only screen and (max-width: 1065px) {
    .bottomDiscount{
        flex-direction: column;
        gap: 1rem;
        padding: 0rem 1rem 1rem 1rem;
    }
}
@media only screen and (max-width: 900px) {
    .mainSkeleton{
        width: 100%;
    }
    .bottomCart{
        flex-direction: column;
        gap: 0.5rem;
    }
    .box{
        width: 70%;
        margin: auto;
    }
    /* .headCart2{
        display: none;
    } */
    .continue{
        width: 100%;
    }
    .right{
        display: none;
        width: 0%;
    }
}
@media only screen and (max-width: 784px) {
    .headCart5{
        display: none;
    }
}
@media only screen and (max-width: 691px) {
    .headCart3{
        display: none;
    }
    .headCart2{
        width: 100%;
    }
    .headCart1{
        width: 100%;
    }
    .headCart4{
        width: 100%;
    }
    .bottomDiscount{
        margin: 0;
    }
    .mainSkeleton{
        margin: 0;
    }
    .bottomDiscount{
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
}