@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;450;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-primary: #ec3b37;
  --color-bg-light: #f1f1f1;
  --color-light: rgba(53, 47, 47, 0.863);
  --color-bg: #f7f7f7;
}
