.container {
  width: 100%;
}
.container > div {
  margin-top: 2rem;
}
.newsLetterBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.newsLetterBox > input,
.newsLetterBox > button {
  padding: 5px;
}
.newsLetterBox > input {
  width: 68%;
  border: 1px solid #eae8e8;
}
.newsLetterBox > input::placeholder {
  font-size: 13px;
}
.newsLetterBox > button {
  white-space: nowrap;
  color: white;
  font-size: 13px;
  width: 30%;
}
.socialHandle {
  text-align: center;
  background-color: white;
  padding: 1rem 0;
  border: 1px solid #eae8e8;
}
.socialHandle > div {
  display: flex;
  justify-content: space-evenly;
}
.socialHandle > p {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}
.socialIcons {
  font-size: 35px;
  color: white;
  padding: 8px;
  border-radius: 50%;
}
.gadGetsAndTopics > p {
  background-color: var(--color-primary);
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 0.2rem 0.5rem 0 0.5rem;
}
.gadGetsAndTopics > div {
  display: flex;
}
.latestNews > p {
  background-color: var(--color-primary);
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
}
.gadGetsAndTopics > div > div {
  width: 50%;
  padding: 0.5rem;
}
.gadGetsAndTopics > div > div > p {
  font-size: 18px;
  font-weight: 600;
}
.gadGetsAndTopics > div > div > div p {
  color: var(--color-light);
  font-size: 12px;
  line-height: 30px;
  border-bottom: 1px solid #eae8e8;
  cursor: pointer;
}
.gadGetsAndTopics > div > div > div p:hover {
  color: var(--color-primary);
}
